<!DOCTYPE html>
<html>
<head>
	<title> This is Partial Header</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	
</head>
</head>
<body>

	<ul>
		<li class = 'menu'><a href = '/'> Home</a></li>
		<li class ='menu'><a href = '/weather'> Weather </a></li>
		<li class="menu"><a href = '/help'> Help </a></li>
		<li class = "menu"><a href = '/about'> About</a></li>
	</ul>