<%-include ./header -%>
	<h1>Weather App</h1>
	<br>
	<br>
	<form id = "weatherForm" >
		<input placeholder="Enter Address">
		<button>Search </button>
	</form>

	<p id ="summary"> Forecast : </p>
	<p id ="temprature"> Temprature :</p>
	<p id ="raincheck">Rain Probability : </p>
<%- include ./footer -%>